logLevel: info
userUri: //Alice
externalSqncNode:
  host: alice-node-sqnc-node-0
  port: 9944
externalSqncIpfs:
  host: alice-ipfs-sqnc-ipfs-api
  port: 5001
externalSqncIdentity:
  host: alice-identity-service-sqnc-identity-service
  port: 3000
externalSqncAttachment:
  host: alice-sqnc-attachment-api
  port: 3000
auth:
  clientId: sequence
  publicIdpOrigin: http://localhost:3080
  internalIdpOrigin: http://keycloak-http.keycloak.svc.cluster.local
  idpPathPrefix: /auth
  oauth2Realm: alice
  internalRealm: alice-internal
  internalClientId: sequence
  internalClientSecret: secret
ingress:
  hostname: localhost
  paths:
    - path: /alice/demandA
      pathType: Prefix
    - path: /alice/demandB
      pathType: Prefix
    - path: /alice/match2
      pathType: Prefix
    - path: /alice/transaction
      pathType: Prefix
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: "web"
    traefik.ingress.kubernetes.io/router.tls: "false"
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
  ingressClassName: traefik
node:
  enabled: false
tests:
  auth:
    clientId: sequence
    clientSecret: secret
  osShell:
    image:
      repository: bitnamilegacy/os-shell
postgresql:
  image:
    repository: bitnamilegacy/postgresql
  volumePermissions:
    image:
      repository: bitnamilegacy/os-shell
  global:
    security:
      allowInsecureImages: true
  auth:
    password: postgres
  metrics:
    enabled: true
    image:
      repository: bitnamilegacy/postgres-exporter
    serviceMonitor:
      enabled: true
      namespace: monitoring
      relabelings:
        - action: replace
          sourceLabels: [namespace]
          targetLabel: kubernetes_namespace
podAnnotations:
  instrumentation.opentelemetry.io/inject-nodejs: "monitoring/nodejs-instrumentation"
