logLevel: info
externalSqncIpfs:
  host: bob-ipfs-sqnc-ipfs-api
  port: 5001
externalSqncIdentity:
  host: bob-identity-service-sqnc-identity-service
  port: 3000
auth:
  clientId: sequence
  publicIdpOrigin: http://localhost:3080
  internalIdpOrigin: http://keycloak-http.keycloak.svc.cluster.local
  idpPathPrefix: /auth
  oauth2Realm: bob
  internalRealm: bob-internal
  internalClientId: sequence
  internalClientSecret: secret
  externalRealm: bob-external
ingress:
  hostname: localhost
  paths:
    - path: /bob/(v1/attachment(/.*)?)
      pathType: Prefix
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: "web"
    traefik.ingress.kubernetes.io/router.tls: "false"
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
authzWebhook: http://bob-sqnc-matchmaker-api.bob.svc.cluster.local:3000/v1/authz
tests:
  auth:
    clientId: sequence
    clientSecret: secret
  osShell:
    image:
      repository: bitnamilegacy/os-shell
postgresql:
  image:
    repository: bitnamilegacy/postgresql
  volumePermissions:
    image:
      repository: bitnamilegacy/os-shell
  global:
    security:
      allowInsecureImages: true
  auth:
    password: postgres
  metrics:
    enabled: true
    image:
      repository: bitnamilegacy/postgres-exporter

    serviceMonitor:
      enabled: true
      namespace: monitoring
      relabelings:
        - action: replace
          sourceLabels: [namespace]
          targetLabel: kubernetes_namespace
podAnnotations:
  instrumentation.opentelemetry.io/inject-nodejs: "monitoring/nodejs-instrumentation"
