apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
resources:
  - kube-prometheus-stack
  - otel
  - jaeger
  - promtail
  - source.yaml
  - deployment-alert.yaml
configMapGenerator:
  - name: monitoring-values
    files:
      - values-kube-prometheus-stack.yaml=kube-prometheus-stack/values.yaml
      - values-otel.yaml=otel/values.yaml
      - values-jaeger.yaml=jaeger/values.yaml
      - values-promtail.yaml=promtail/values.yaml
      - values-loki.yaml=loki/values.yaml
  - name: flux-kube-state-metrics-config
    files:
      - kube-state-metrics-config.yaml=kube-prometheus-stack/kube-state-metrics-config.yaml
    options:
      labels:
        app.kubernetes.io/part-of: flux
        app.kubernetes.io/component: monitoring
configurations:
  - kustomize-config.yaml
generatorOptions:
  disableNameSuffixHash: true
