logLevel: info
userUri: //Bob
externalSqncNode:
  host: bob-node-sqnc-node-0
  port: 9944
externalSqncIpfs:
  host: bob-ipfs-sqnc-ipfs-api
  port: 5001
externalSqncIdentity:
  host: bob-identity-service-sqnc-identity-service
  port: 3000
externalSqncAttachment:
  host: bob-sqnc-attachment-api
  port: 3000
auth:
  clientId: sequence
  publicIdpOrigin: http://localhost:3080
  internalIdpOrigin: http://keycloak-http.keycloak.svc.cluster.local
  idpPathPrefix: /auth
  oauth2Realm: bob
  internalRealm: bob-internal
  internalClientId: sequence
  internalClientSecret: secret
ingress:
  hostname: localhost
  paths:
    - path: /bob/(v1/demandA(/.*)?)
      pathType: Prefix
    - path: /bob/(v1/demandB(/.*)?)
      pathType: Prefix
    - path: /bob/(v1/match2(/.*)?)
      pathType: Prefix
    - path: /bob/(v1/transaction(/.*)?)
      pathType: Prefix
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
node:
  enabled: false
tests:
  auth:
    clientId: sequence
    clientSecret: secret
  osShell:
    image:
      repository: bitnamilegacy/os-shell
postgresql:
  image:
    repository: bitnamilegacy/postgresql
  volumePermissions:
    image:
      repository: bitnamilegacy/os-shell
  global:
    security:
      allowInsecureImages: true
  auth:
    password: postgres
  metrics:
    enabled: true
    image:
      repository: bitnamilegacy/postgres-exporter
    serviceMonitor:
      enabled: true
      namespace: monitoring
      relabelings:
        - action: replace
          sourceLabels: [namespace]
          targetLabel: kubernetes_namespace
podAnnotations:
  instrumentation.opentelemetry.io/inject-nodejs: "monitoring/nodejs-instrumentation"
roles:
  - optimiser
