---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: kube-system
spec:
  install:
    remediation:
      retries: -1
  upgrade:
    remediation:
      retries: -1
  releaseName: traefik
  chart:
    spec:
      chart: traefik
      sourceRef:
        kind: HelmRepository
        name: traefik
      version: "37.4.0"
  interval: 10m0s
  # Default values
  # https://github.com/traefik/traefik-helm-chart/blob/master/traefik/values.yaml
  valuesFrom:
    - kind: ConfigMap
      name: traefik-values
      valuesKey: values.yaml
