logLevel: info
selfAddress: 5FHneW46xGXgs5mUiveU4sbTyGBzmstUspZC92UhjJM694ty
externalSqncNode:
  host: bob-node-sqnc-node-0
  port: 9944
auth:
  clientId: sequence
  publicIdpOrigin: http://localhost:3080
  internalIdpOrigin: http://keycloak-http.keycloak.svc.cluster.local
  idpPathPrefix: /auth
  oauth2Realm: bob
  internalRealm: bob-internal
ingress:
  hostname: localhost
  paths:
    - path: /bob/(v1/members(/.*)?)
      pathType: Prefix
    - path: /bob/(v1/self(/.*)?)
      pathType: Prefix
    - path: /bob/(v1/roles(/.*)?)
      pathType: Prefix
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: "web"
    traefik.ingress.kubernetes.io/router.tls: "false"
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
node:
  enabled: false
postgresql:
  auth:
    password: postgres
  image:
    repository: bitnamilegacy/postgresql
  volumePermissions:
    image:
      repository: bitnamilegacy/os-shell
  global:
    security:
      allowInsecureImages: true
  metrics:
    enabled: true
    image:
      repository: bitnamilegacy/postgres-exporter
    serviceMonitor:
      enabled: true
      namespace: monitoring
      relabelings:
        - action: replace
          sourceLabels: [namespace]
          targetLabel: kubernetes_namespace
podAnnotations:
  instrumentation.opentelemetry.io/inject-nodejs: "monitoring/nodejs-instrumentation"
