externalSqncNode:
  host: bob-node-sqnc-node-0
  port: 9944
ipfs:
  bootNodeAddress: /dns4/alice-ipfs-sqnc-ipfs-0-swarm.alice.svc.cluster.local/tcp/4001/p2p/12D3KooWGnnDccXt956NhFkUki48216AwogbfWTcN33mjinFkNNT
persistence:
  storageClass: standard
sqncNode:
  enabled: false
podAnnotations:
  instrumentation.opentelemetry.io/inject-sdk: "otel/go-instrumentation"
securityContext:
  privileged: true
  runAsUser: 0
extraEnvVars:
  - name: IPFS_TRACING
    value: "true"
  - name: OTEL_TRACES_EXPORTER
    value: "otlp"