logLevel: info
selfAddress: 5GrwvaEF5zXb26Fz9rcQpDWS57CtERHpNehXCPcNoHGKutQY
externalSqncNode:
  host: alice-node-sqnc-node-0
  port: 9944
auth:
  clientId: sequence
  publicIdpOrigin: http://localhost:3080
  internalIdpOrigin: http://keycloak-http.keycloak.svc.cluster.local
  idpPathPrefix: /auth
  oauth2Realm: alice
  internalRealm: alice-internal
ingress:
  hostname: localhost
  paths:
    - path: /alice/v1/members
      pathType: Prefix
    - path: /alice/v1/self
      pathType: Prefix
    - path: /alice/v1/roles
      pathType: Prefix
  annotations:
    traefik.ingress.kubernetes.io/router.middlewares: alice-traefik-strip-prefix@kubernetescrd
    traefik.ingress.kubernetes.io/router.entrypoints: "web"
    traefik.ingress.kubernetes.io/router.tls: "false"
  ingressClassName: traefik
node:
  enabled: false
postgresql:
  auth:
    password: postgres
  image:
    repository: bitnamilegacy/postgresql
  volumePermissions:
    image:
      repository: bitnamilegacy/os-shell
  global:
    security:
      allowInsecureImages: true
  metrics:
    enabled: true
    image:
      repository: bitnamilegacy/postgres-exporter
    serviceMonitor:
      enabled: true
      namespace: monitoring
      relabelings:
        - action: replace
          sourceLabels: [namespace]
          targetLabel: kubernetes_namespace
podAnnotations:
  instrumentation.opentelemetry.io/inject-nodejs: "monitoring/nodejs-instrumentation"
