logLevel: info
paths:
  - http://alice-identity-service-sqnc-identity-service:3000/api-docs
  - http://alice-sqnc-matchmaker-api:3000/api-docs
  - http://alice-sqnc-attachment-api:3000/api-docs
baseUrl:
  - http://localhost:3080/alice/
apiPublicUrlPrefix: /alice
oauthClientId: "sequence"
oauthAppName: "Alice Swagger"
oauthUsePkce: true
ingress:
  hostname: localhost
  paths:
    - path: /alice/api-docs
      pathType: Prefix
    - path: /alice/swagger
      pathType: Prefix
  annotations:
    traefik.ingress.kubernetes.io/router.middlewares: alice-traefik-strip-prefix@kubernetescrd
    traefik.ingress.kubernetes.io/router.entrypoints: "web"
    traefik.ingress.kubernetes.io/router.tls: "false"
  ingressClassName: traefik
securitySchema:
  name: "oauth2"
  type: "oauth2"
  enabled: true
  oauth2:
    flows:
      - clientCredentials
    tokenUrl: "/auth/realms/alice/protocol/openid-connect/token"
    refreshUrl: "/auth/realms/alice/protocol/openid-connect/token"
    scopes: 
      demandA:read: "Read demandA"
      demandA:prepare: "Prepare demandA"
      demandA:create: "Create demandA"
      demandA:comment: "Comment on demandA"
      demandB:read: "Read demandB"
      demandB:prepare: "Prepare demandB"
      demandB:create: "Create demandB"
      demandB:comment: "Comment on demandB"
      match2:read: "Read match2"
      match2:prepare: "Prepare match2"
      match2:propose: "Propose match2"
      match2:cancel: "Cancel match2"
      match2:accept: "Accept match2"
      match2:reject: "Reject match2"
podAnnotations:
  instrumentation.opentelemetry.io/inject-nodejs: "monitoring/nodejs-instrumentation"
